/*******************************/
/* Fonts */
/*******************************/

.yekan {
	font-family: 'Yekan' !important;
}

.dinar {
	font-family: 'Dinar' !important;
}

.calibri {
	font-family: 'Calibri' !important;
}

/*******************************/
/* Main */
/*******************************/

.popover, ::placeholder {
	font-family: 'Yekan', 'Dinar', 'Calibri';
}

.hidden {
	display: none;
}


/*******************************/
/* Customize */
/*******************************/

.material-icons.icon, .btn .material-icons  {
	position: relative;
	top: 3px;
	font-size: 16px;
	margin-left: 3px;
}

/*******************************/
/* RTL */
/*******************************/
.custom-control-label::before, .custom-control-label::after {
	left: unset;
}

.custom-control-label > span {
	padding-right: 25px;
}

.page-item:first-child .page-link {
	border-radius: 0;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.page-item:last-child .page-link {
	border-radius: 0;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
